body {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    color: rgb(5, 5, 5);
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

#pTitle {
    font-size: 1.5rem;
    text-align: justify;
}

#title hr{
    margin-top: 8%;
}

h2 {
    font-size: 2.5em;
}

#title {
    background-color: #ffffff;
}

.container {
    padding-left: 0;
}

#imgLogo {
    width: 60%;
}

.nav-link {
    color: rgb(70, 70, 70);
}

.nav-item {
    width: 150px;
}

#provaSocial {
    background-color: #ebebeb;
    text-align: center;
    margin-top: 3%;
    font-size: 2rem;
    border-radius: 10px;
}

#provaSocial p {
    margin: 2% auto;
}

/* Paddings */
.container-fluid {
    padding: 2% 10% 4% 10%;
}

#locar-maquina-de-limpeza-de-sofa,
#benefits,
#testimonials,
#location,
#sobre-higieniza-inga,
#redes-sociais {
    padding: 4% 10%;
}

/* Headings */
h1,
h2,
h3 {
    font-weight: bold;
}

.h2-price {
    margin-bottom: 7%;
    font-weight: bold;
}

#testimonials h2 {
    color: #fff;
    font-weight: 700;
    font-size: 3rem;
    font-family: 'Quicksand', sans-serif;
    color: #1f1f1f;
    padding-bottom: 4%;
}

#cta h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    font-size: 2.7rem;
    color: #1f1f1f;
    margin-bottom: 50px;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
}

.navbar-toggler-icon {
    font-size: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
}

div.rowTitle {
    margin-top: 80px;
}

#imgTitle {
    background-image: url(images/limpeza-banco-de-carro.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    display: block;
    margin: 0 auto;
    max-width: 95%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-top: 8%;
    margin-bottom: 8%;
}

.nav-item {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    margin: 5% 0% 0% 0%;
    background-color: #25D366;
    color: #1f1f1f;
    font-size: 2rem;
}

.btn:hover {
    background-color: #4993FA;
}

/* CSS for locar-maquina-de-limpeza-de-sofa */
#locar-maquina-de-limpeza-de-sofa {
    text-align: center;
    background-color: #ebebeb;
    position: relative;
}

#locar-maquina-de-limpeza-de-sofa .fa-solid {
    font-size: 3rem;
    color: #00050c;
}

#locar-maquina-de-limpeza-de-sofa h3 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

.itemFeatures {
    margin: 8% auto;
}

#locar-maquina-de-limpeza-de-sofa p,
#sobre-higieniza-inga p {
        color: rgb(88, 88, 88);
}

#locar-maquina-de-limpeza-de-sofa p,
#benefits p,
#sobre-higieniza-inga p {
    font-size: 1.5rem;
    text-align: justify;
}

.color {
    background-color: #4993fa49;
    margin-top: 3%;
    padding: 2% 5%;
}

/* CSS for Benefits */
#benefits {
    text-align: center;
}

#firstBenefit img,
#secondBenefit img {
    display: block;
    margin: 0 auto;
    max-width: 70%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-top: 8%;
    margin-bottom: 8%;
}

hr {
    color: #31313177;
    margin: 8% auto;
}

/*CSS for Testimonials */
#testimonials {
    text-align: center;
    background-color: #ebebeb;
}

#testimonials button:hover {
    background-color: #d1d1d1;
}

.carousel-indicators {
    position: relative;
    margin: 0%;
    margin-top: 2%;
}

#testimonials img {
    width: 60%;
    border-radius: 5px;
}

/* CSS for Location */
#location {
    text-align: center;
    background-color: rgb(255, 255, 255);
    position: relative;
}

#location i {
    font-size: 3rem;
    color: #4993FA;
}

#location i:hover {
    color: #696969;
}

#location h3 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

.boxLocation p {
    color: #1f1f1f;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    text-align: left;
}

/* CSS for sobre-higieniza-inga */
#sobre-higieniza-inga {
    background-color: #ebebeb;
    text-align: center;
}

#sobre-higieniza-inga p {
    font-size: 1.3rem;
}

/* CSS for redes-sociais */
#redes-sociais {
    text-align: center;
    background-color: #292929;
}

#redes-sociais a {
    margin: auto 10%;
    color: rgb(255, 255, 255);
}

#redes-sociais i {
    font-size: 2.3rem;
}

#redes-sociais p {
    color: rgba(255, 255, 255, 0.712);
    margin-top: 3%;
    margin-bottom: 0px;
}


/* Responsiviness */
/* TABLET */
@media (max-width: 991px) {
    #title h1 {
        margin-bottom: 0px;
    }

    .imgTitle {
        width: 40%;
    }

    .navbar>.container {
        display: block;
        justify-content: center;
        padding-right: 0px;
    }

    .navbar-toggler:focus {
        box-shadow: 0 0 0 0.1rem;
    }

    .navbar-brand {
        margin-right: 0px;
    }

    .nav-item {
        width: auto;
    }

    .fas {
        vertical-align: middle;
        height: 21px;
    }

    div.rowTitle {
        margin-top: 3%;
    }

    .container button {
        color: rgb(70, 70, 70);
    }

    .container-fluid,
    #locar-maquina-de-limpeza-de-sofa,
    #benefits,
    #testimonials,
    #location,
    #sobre-higieniza-inga,
    #redes-sociais {
        text-align: center;
        padding: 6% 10%;
    }

    .container-fluid a,
    #locar-maquina-de-limpeza-de-sofa a,
    #benefits a,
    #testimonials a,
    #sobre-higieniza-inga a {
        font-size: 2rem;
    }

    #pTitle {
        padding: 2% 0% 2% 0%;
        margin-bottom: 6%;
    }

    #provaSocial {
        font-size: 1.7rem;
    }

    #provaSocial p {
        margin-bottom: 0px;
    }

    #locar-maquina-de-limpeza-de-sofa h2,
    #benefits h2,
    #testimonials h2 {
        font-size: 2.3rem;
    }

    #locar-maquina-de-limpeza-de-sofa h3 {
        font-size: 2rem;
        text-align: center;
    }

    #locar-maquina-de-limpeza-de-sofa p,
    #benefits p {
        font-size: 1.2rem;
    }

    .itemFeatures {
        margin: 8% auto;
    }

    #locar-maquina-de-limpeza-de-sofa .fa-solid {
        font-size: 1.7rem;
    }

    #carouselTestimonial {
        padding: 0%;
    }

    .carousel-indicators {
        position: relative;
        margin: 2%;
    }

    #location i {
        font-size: 2.5rem;
    }

    #redes-sociais p {
        font-size: 1.3rem;
    }

    #redes-sociais i {
        font-size: 2.3rem;
        padding: 0% 5% 0% 5%;
    }

    .rowTitle button {
        font-size: 1.25rem;
    }

    #cta {
        padding: 5% 10%;
    }

    .btn {
        margin: 3% 0% 3% 0%;
    }

    .boxFeatures {
        align-items: center;
    }

    .imgFeature {
        width: 80%;
    }

    .boxFeatures p,
    #cta p {
        font-size: 2.5rem;
    }

    .color {
        overflow: hidden;
        margin: 0;
    }

    #testimonials img {
        width: 100%;
    }
}


/* MOBILE */
@media (max-width: 576px) {
    .container-fluid {
        padding: 0%;
    }

    .navbar-brand {
        margin-right: 0;
    }

    #imgLogo {
        display: block;
        float: left;
    }

    div.rowTitle {
        margin-top: 10%;
    }

    .rowTitle h1 {
        font-size: 1.7rem;
    }

    #locar-maquina-de-limpeza-de-sofa h2,
    #benefits h2,
    #sobre-higieniza-inga h2,
    #testimonials h2 {
        font-size: 1.6rem;
        margin-bottom: 8%;
    }

    #locar-maquina-de-limpeza-de-sofa h3 {
        font-size: 1.3rem;
        text-align: center;
    }

    #title p {
        font-size: 1.2rem;
    }

    #title,
    #locar-maquina-de-limpeza-de-sofa,
    #testimonials,
    #location,
    #sobre-higieniza-inga,
    #redes-sociais {
        padding: 9%;
    }

    #title a,
    #locar-maquina-de-limpeza-de-sofa a,
    #benefits a,
    #testimonials a,
    #sobre-higieniza-inga a {
        font-size: 1.4rem;
    }

    #provaSocial {
        margin: 3% auto 6%;
    }

    #provaSocial p {
        padding: 0;
        margin: 6% auto;
    }

    #locar-maquina-de-limpeza-de-sofa p,
    #benefits p {
        font-size: 1rem;
    }

    #locar-maquina-de-limpeza-de-sofa b {
        color: rgb(82, 82, 82);
    }

    .itemFeatures {
        margin: 15% auto;
    }

    #carouselTestimonial {
        padding: 0%;
    }

    .carousel-indicators {
        position: relative;
    }

    #location h3 {
        margin-bottom: 0px;
    }

    .boxLocation {
        padding: 0%;
    }
    #h3maringa::after{
        content: " & Sarandi";
    }
    .sarandi {
        display: none;
    }

    .marialva {
        display: none;
    }

    #sobre-higieniza-inga p {
        font-size: 1rem;
    }

    #redes-sociais a {
        margin: auto 4%;
    }

    #redes-sociais p {
        font-size: 1.0rem;
        margin-bottom: 0px;
        padding-top: 2%;
    }

    #redes-sociais i {
        font-size: 1.8rem;
    }
}

@media (min-width: 458px) and (max-width: 767px) {
    .navbar>.container-fluid {
        display: block;
    }
}