body{
    font-family: 'Quicksand', sans-serif;
}

h1{
    color: rgb(5, 5, 5);
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 3rem; 
    line-height: 1.5;
}

#pTitle{
    font-size: 1.5rem;
}

h2{
    font-size: 2.5em;
}

#title {
    background-color: #ebebeb;
}

.container {
    padding-left: 0;
}

#imgLogo{
    width: 40%;
}

.nav-link{
    color: rgb(70, 70, 70);
}

#provaSocial{
    background-color: white;
    text-align: center;
    margin-top: 3%;
    font-size: 2rem;
}

#provaSocial p{
    margin: 2% auto;
}

/* Paddings */
.container-fluid {
    padding: 2% 10% 4% 10%;
}

#features,
#testimonials,
#location,
#about,
#footer{
    padding: 4% 10%;
}

/* Headings */
h1, h2, h3{
    font-weight: bold;
}

.h2-price {
    margin-bottom: 7%;
    font-weight: bold;
}
#testimonials h2 {
    color: #fff;
    font-weight: 700;
    font-size: 3rem;
    font-family: 'Quicksand', sans-serif;
    color: #1f1f1f;
    padding-bottom: 4%;
}
#cta h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    font-size: 2.7rem;
    color: #1f1f1f;
    margin-bottom: 50px;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
}

div.rowTitle{
    margin-top: 80px;
}

#imgTitle{
    background-image: url(images/aspirador.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.nav-item{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    padding-left: 40px;
}

.btn{
    margin: 5% 0% 0% 0%;
    background-color: #4993FA;
    color: #1f1f1f;
    font-size: 2rem;
}

.btn:hover{
    background-color: #686868;
}

/* CSS for Features */
#features{
    text-align: center;
    background-color: white;
    position: relative;
}

#features .fa-solid{
    font-size: 3rem;
    color: #00050c;
}

#features h3{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

.itemFeatures {
        margin: 8% auto;
}

#features p,
#about p{
    color: rgb(102, 102, 102);
    font-size: 1.5rem;
}

.color{
    background-color: #4993fa49;
    margin-top: 3%;
    padding: 2% 5%;
}

/*CSS for Testimonials */
#testimonials{
    text-align: center;
    background-color: #ebebeb;
}

#testimonials button:hover{
    background-color: #d1d1d1;
}

.carousel-indicators{
    position: relative;
    margin: 0%;
    margin-top: 2%;
}

#testimonials img{
    width: 60%;
}

/* CSS for Location */
#location {
    text-align: center;
    background-color: rgb(255, 255, 255);
    position: relative;
}

#location i {
    font-size: 3rem;
    color: #4993FA;
}

#location i:hover {
    color: #696969;
}

#location h3 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

.boxLocation p {
    color: #1f1f1f;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    text-align: left;
}

/* CSS for About */
#about{
    background-color: #ebebeb;
    text-align: center;
}
#about p{
    font-size: 1.3rem;
}

/* CSS for Footer */
#footer{
    text-align: center;
    background-color: #292929;
}

#footer a{
    margin: auto 10%;
    color: rgb(255, 255, 255);
}

#footer i{
    font-size: 2.3rem;
}

#footer p{
    color: rgba(255, 255, 255, 0.712);
    margin-top: 3%;
    margin-bottom: 0px;
}


/* Responsiviness */
/* TABLET */
@media (max-width: 991px) {
    #title h1{
        margin-bottom: 0px;
    }
    .imgTitle{
        transform: rotate(0deg);
        width: 40%;
    }
    .navbar>.container{
        justify-content: center;
        padding-right: 0px;
    }
    .navbar-brand{
        margin-right: 0px;
    }
    #imgLogo{
        width: 50%;
    }
    div.rowTitle{
        margin-top: 3%;
    }
    .container button{
        display: none;
    }
    .container-fluid,
    #features,
    #testimonials,
    #location,
    #about,
    #footer{
        text-align: center;
        padding: 6% 10%;
    }
    .container-fluid a,
    #features a,
    #testimonials a,
    #about a{
        font-size: 2rem;
    }
    #pTitle{
        padding: 2% 0% 2% 0%;
        margin-bottom: 0px;
    }
    #provaSocial{
        font-size: 1.7rem;
    }
    #provaSocial p{
        margin-bottom: 0px;
    }
    #features h2,
    #testimonials h2{
        font-size: 2.3rem;
    }
    #features h3{
        font-size: 2rem;
        text-align: center;
    }
    #features p {
        font-size: 1.2rem;
    }
    .itemFeatures{
        margin: 8% auto;
    }
    #features .fa-solid {
        font-size: 1.7rem;
    }
    #carouselTestimonial{
        padding: 0%;
    }
    .carousel-indicators{
        position: relative;
        margin: 2%;
    }
    #location i{
        font-size: 2.5rem;
    }
    #footer p{
        font-size: 1.3rem;
    }
    #footer i{
        font-size: 2.3rem;
        padding: 0% 5% 0% 5%;
    }
    .rowTitle button {
        font-size: 1.25rem;
    }
    #cta{
        padding: 5% 10%;
    }
    .btn {
        margin: 3% 0% 3% 0%;
    }
    .boxFeatures{
        align-items: center;
    }
    .imgFeature{
        width: 80%;
    }
    .boxFeatures p,
    #cta p{
        font-size: 2.5rem;
    }
    .color{
        overflow: hidden;
        margin: 0;
    }
    #testimonials img{
        width: 100%;
    }
}


/* MOBILE */
@media (max-width: 576px) {
    .container-fluid{
        padding: 0%;
    }
    .navbar-brand{
        margin-right: 0;
    }
    #imgLogo{
        width: 50%;
    }
    div.rowTitle{
        margin-top: 12%;
    }
    .rowTitle h1 {
        font-size: 2rem;
    }
    #title p {
        font-size: 1.2rem;
    }
    #title,
    #features,
    #testimonials,
    #location,
    #about,
    #footer {
        padding: 9%;
    }
    #title a,
    #features a,
    #testimonials a,
    #about a {
        font-size: 1.4rem;
    }
    #provaSocial{
        margin: 12% auto 6%;
        background-color: rgb(255, 255, 255);
    }
    #provaSocial p{
        padding: 0;
        margin: 6% auto;
    }
    #features h2,
    #about h2 {
        font-size: 2rem;
        margin-bottom: 8%;
    }
    #features h3 {
        font-size: 1.5rem;
        text-align: center;
    }
    #features p {
        font-size: 1rem;
    }
    #features b {
        color: rgb(82, 82, 82);  
    }
    .itemFeatures{
        margin: 15% auto;
    }
    #carouselTestimonial{
        padding: 0%;
    }
    .carousel-indicators{
        position: relative;
    }
    #testimonials h2{
        font-size: 2rem;
    }
    #location h3{
        margin-bottom: 0px;
    }
    .boxLocation {
        padding: 0%;
    }
    .sarandi{
        display: none;
    }
    .marialva{
        display: none;
    }
    #about p {
        font-size: 0.9rem;
    }
    #footer a{
        margin: auto 4%;
    }
    #footer p{
        font-size: 1.3rem;
        margin-bottom: 0px;
    }
    #footer i {
        font-size: 1.8rem;
    }
}